<h1>Add another hit</h1>
<form action="/insert" method="post">
  <input type="text" name="amount" placeholder="How many?">
  <input type="text" name="name" placeholder="Item">
  <input type="text" name="brand" placeholder="Brand">
  <input type="text" name="desc" placeholder="Reason">
  <input type="submit">Insert</input>
</form>
